* {
    margin: 0;
}
body {
    background-image: url("./vecteezy_diagonal-japanese-geometric-wave-style-abstract-overlapping_7169676.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }
.header-box {
    width: 90%;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(255,255, 255, 0.8);
    border-left: 6px solid darkblue;
    padding: 10px;
    margin: 10px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.header-box h1 {
    padding: 14px 16px;
    font-size: 32px;
}
.header-box ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header-box li {
    float: left;
}
.menu-link {
    font-family: "Poetsen One", sans-serif;
    font-size: 20px;
    font-style: normal;
    color:#5d3d2f;
    cursor: pointer;
    text-decoration: none;
    padding: 14px 16px;

}
.menu-link:hover {
    transition: 0.5s;
    text-shadow: 2px 2px 5px #1f662c;
}
.big-container {
    max-width: 600px;
    min-width: 250px;
    height: 480px;
    border: 6px dashed darkblue;
    box-sizing: border-box;
    background-color: #f2f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.info-link {
    width: 80%;
    text-align: center;
    margin: 28px;
    font-family: "Poetsen One", sans-serif;
    text-decoration-style: dotted;
    color: darkblue;
}
.info-link:link {
    text-shadow: 2px 2px 5px lightblue;
}
.info-link:visited {
    text-shadow: 2px 2px 5px violet;
}
.info-link:hover {
    text-shadow: 2px 2px 5px lightgoldenrodyellow;
    cursor: help;
}
.info-link:active {
    color: darkorange;
}

i {
    font-size: 200px;
    color: darkblue;
}
.light-switcher {
    position: fixed;
    left: 100px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.light-switcher:hover {
    transition: 0.5s;
    background-color: lightgoldenrodyellow;
    border-style: dashed;
}
.light-switcher i {
    font-size: 36px;
}
.box-for-european-colors {
    width: 100%;
    height: 60px;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tulip-red {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #d71e0f;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 4;
}
.bottle-green {
    position: absolute;
    right: 50.5%;
    width: 50px;
    height: 50px;
    background-color: #1f662c;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 2;
}
.dutch-chocolate {
    position: absolute;
    right: 45.5%;
    width: 50px;
    height: 50px;
    background-color: #5d3d2f;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 3;
}
.tulip-red:hover, .bottle-green:hover, .dutch-chocolate:hover {
    transition: 0.5s;
    width: 55px;
    height: 55px;
    z-index: 5;
}
li.dropdown-countries {
    display: inline-block;
}
.dropdown-countries-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-countries-content a {
    color: black;
    padding: 16px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-countries-content a:hover {
    transition: 0.5s;
    text-shadow: 2px 2px 5px #1f662c;
  }
  .dropdown-countries:hover .dropdown-countries-content {
    display: block;
  }